<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RL.Properties.Settings>
            <setting name="EnemyColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="TeamColor" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="Key_ShowMENU" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="SNAPLINE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ESPColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SNAPLINEColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ESPSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SNAPLINESize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ESPForm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ESP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SNAPLINEStartingPoint" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OVERLAY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AimKey" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="Show_DISTANCE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIMBOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultBackgroundColor" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="AIMAutoFire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CROSSHAIR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CROSSHAIRSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CROSSHAIRThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CROSSHAIRColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="AIMBOTTarget" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AIMBOTAcceleration" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="AIMBOTFOV" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ShowAIMFov" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pfpf" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ActiveFuncKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultForeColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShowFPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VSAT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAllies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Name" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSYNC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIMBOT_PRIORITY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AIMBOT_FOV_Color" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="ESP_VISIBLE_TEXT" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ESP_SIZE_TEXT" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ESPFILLEDBORDERCOLOR" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="ESPALLIESCOLOR" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="OverlaySavedVal" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Show_PING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Show_Text_Border" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultColor" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="NormalColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="MenuBorderColor" serializeAs="String">
                <value>250, 120, 0</value>
            </setting>
            <setting name="FPS_CORNER" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AUTO_FIRE_MS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlayerNameColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PlayerPingColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Menu_Opacity" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="FontText" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="ControllerButtonAIMBOT" serializeAs="String">
                <value>R2</value>
            </setting>
            <setting name="ControllerActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerBattery" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControllerToggleAIMBOT" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="ControllerToggleESP" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="ControllerToggleSNAPLINE" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="ControllerToggleVSAT" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ControllerAIMBOTButtonPressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextAntiAliasing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerToggleCROSSHAIR" serializeAs="String">
                <value>SELECT</value>
            </setting>
        </RL.Properties.Settings>
    </userSettings>
</configuration>